fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-ollama
langchain-chroma
langchain-community
langchain-text-splitters
langchain-core
langchain-tavily
chromadb
rank-bm25
sentence-transformers
--index-url https://download.pytorch.org/whl/cpu
torchrequests
